<header class=" black-80 tc avenir">

    <nav class="navbar navbar-expand-lg navbar-light bg-light tc" id="myScrollspy">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph3-l fl" href="/">CANVAS</a>
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/" id="nav-home">home</a>
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/users">drink makers</a>
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/projects" id="nav-projects">projects</a>
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/about" id="nav-about">about</a>
                <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/contact">contact</a>
            </ul>
            <ul class="navbar-nav mr-auto">

            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#" data-toggle="modal" data-target="#exampleModal">sign in</a>
            </ul>

        </div>
        </div>
    </nav>

</header>