<header class=" black-80 tc pv2 avenir">

    <nav class="bt bb tc mw9 center mt1">
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l fl" href="/">CANVAS</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l" href="/">home</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-green dib  ph4-l" href="#">drink makers</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-blue dib  ph4-l" href="/projects" id="nav-projects">projects</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-pink dib  ph4-l" href="#">about</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-yellow dib  ph4-l" href="#">contact</a>

        {{> login-modal}}
    </nav>

</header>

<div class="container">
    <article class="all-users-container">
        <h2 class="f3 fw4 pa3 mv0 gray">USERS</h2>
        <div class="cf pa2">

            <div class="fl w-50 w-25-m w-10-l pa2">
            <a href="/users/user" class="db link dim tc">
                <img src="assets/images/celso.jpg" alt="Frank Ocean Blonde Album Cover" class="w-90 db center black-10 br-100"/>
                <dl class="mt3 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">CELSO</dd>
                <dt class="clip">Artist</dt>
                <dd class="ml0 gray truncate w-100">Brazil</dd>
                </dl>
            </a>
            </div>

            <div class="fl w-50 w-25-m w-10-l pa2">
            <a href="/users/user" class="db link dim tc">
                <img src="assets/images/alex.jpg" alt="Frank Ocean Blonde Album Cover" class="w-90 db center black-10 br-100"/>
                <dl class="mt3 f6 lh-copy">
                <dt class="clip">Title</dt>
                <dd class="ml0 black truncate w-100">ALEX</dd>
                <dt class="clip">Artist</dt>
                <dd class="ml0 gray truncate w-100">San Francisco</dd>
                </dl>
            </a>
            </div>

            <div class="fl w-50 w-25-m w-10-l pa2">
                <a href="/users/user" class="db link dim tc">
                    <img src="assets/images/baran.jpg" alt="Frank Ocean Blonde Album Cover" class="w-90 db center black-10 br-100"/>
                    <dl class="mt3 f6 lh-copy">
                    <dt class="clip">Title</dt>
                    <dd class="ml0 black truncate w-100">BARAN</dd>
                    <dt class="clip">Artist</dt>
                    <dd class="ml0 gray truncate w-100">Los Angeles</dd>
                    </dl>
                </a>
            </div>          
        </article>             
    </div>
</div>