<header class=" black-80 tc pv2 avenir">

	<nav class="bt bb tc mw9 center mt1">
		<a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l fl" href="/">CANVAS</a>
		<a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l" href="/">home</a>
		<a class="f6 f7-l link bg-animate black-80 hover-bg-light-green dib  ph4-l" href="/users">drink makers</a>
		<a class="f6 f7-l link bg-animate black-80 hover-bg-light-blue dib  ph4-l" href="#" id="nav-projects">projects</a>
		<a class="f6 f7-l link bg-animate black-80 hover-bg-light-pink dib  ph4-l" href="#">about</a>
		<a class="f6 f7-l link bg-animate black-80 hover-bg-light-yellow dib  ph4-l" href="#">contact</a>
		
		{{> login-modal}}
	</nav>

</header>

<div class="container">
    <div class="projects">

{{#each dbProject}}

	<article class=" bg-white br1 pa3 pa4-ns mv3 ba b--black-10 project-card">

            <div class="tc project-portfolio">
                <img src={{this.image_url}} class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/baran.jpg" class="br-100 h3 w3 project-user grow">

                <h1 class="f4">{{this.project_name}}</h1>

                <hr class="mw3 bb bw1 b--black-10">
            </div>

            <p class="lh-copy measure center f6 black-70 project-info">

               {{this.description}}

            </p>
            
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="/project/{{id}}">VIEW PROJECT</a>

        </article>
{{/each}}

        {{!-- <article class=" bg-white br2 pa3 pa4-ns mv3 ba b--black-10 project-card">
            <div class="tc project-portfolio">
                <img src="assets/images/cocktail-ph-2.jpg" class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/alex.jpg" class="br-100 h3 w3 project-user grow">
                <h1 class="f4">ALEX</h1>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <p class="lh-copy measure center f6 black-70 project-info">
                Lorem ipsum dolor sit amet, amet alii salutatus usu eu. Harum iudico referrentur ex sit, nec audire bonorum ad. 
            </p>
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="#0">VIEW PROJECT</a>
        </article>

        <article class=" bg-white br2 pa3 pa4-ns mv3 ba b--black-10 project-card">
            <div class="tc project-portfolio">
                <img src="assets/images/cocktail-ph-3.jpg" class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/celso.jpg" class="br-100 h3 w3 project-user grow">
                <h1 class="f4">CELSO</h1>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <p class="lh-copy measure center f6 black-70 project-info">
                Lorem ipsum dolor sit amet, amet alii salutatus usu eu. Harum iudico referrentur ex sit, nec audire bonorum ad. 
            </p>
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="#0">VIEW PROJECT</a>
        </article>

        <article class=" bg-white br2 pa3 pa4-ns mv3 ba b--black-10 project-card">
            <div class="tc project-portfolio">
                <img src="assets/images/cocktail-ph-4.jpg" class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/alex.jpg" class="br-100 h3 w3 project-user grow">
                <h1 class="f4">ALEX</h1>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <p class="lh-copy measure center f6 black-70 project-info">
                Lorem ipsum dolor sit amet, amet alii salutatus usu eu. Harum iudico referrentur ex sit, nec audire bonorum ad. 
            </p>
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="#0">VIEW PROJECT</a>
        </article>
    
        <article class=" bg-white br2 pa3 pa4-ns mv3 ba b--black-10 project-card">
            <div class="tc project-portfolio">
                <img src="assets/images/cocktail-ph-5.jpg" class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/celso.jpg" class="br-100 h3 w3 project-user grow">
                <h1 class="f4">CELSO</h1>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <p class="lh-copy measure center f6 black-70 project-info">
                Lorem ipsum dolor sit amet, amet alii salutatus usu eu. Harum iudico referrentur ex sit, nec audire bonorum ad. 
            </p>
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="#0">VIEW PROJECT</a>
        </article>

        <article class=" bg-white br2 pa3 pa4-ns mv3 ba b--black-10 project-card">
            <div class="tc project-portfolio">
                <img src="assets/images/cocktail-ph-6.jpg" class="db project-drink grow" alt="Photo of Jesse Grant" />
                <img src="assets/images/baran.jpg" class="br-100 h3 w3 project-user grow">
                <h1 class="f4">BARANIMAL</h1>
                <hr class="mw3 bb bw1 b--black-10">
            </div>
            <p class="lh-copy measure center f6 black-70 project-info">
                Lorem ipsum dolor sit amet, amet alii salutatus usu eu. Harum iudico referrentur ex sit, nec audire bonorum ad. 
            </p>
            <a class="f6 link ba ph3 pv2 mb2 dib dark-gray grow" href="#0">VIEW PROJECT</a>
        </article>   --}}

	</div>


</div>
