<div class="container">
    <div class="title-header">
        <h1 class="tc mb0 sans-serif fw1 f1" id="canvas-title">CANVAS</h1>
        <h2 style="font-family:'Rubik' " class="tc mb3 f6 fw4 ttu tracked">Powered by The Best Drink Ever + DRNXMYTH</h2>
    </div>

    <div class="dt-ns dt--fixed-ns stats-header bt bb b--silver">
        <div class="dtc-ns tc pv2 br b--silver">
            NOW SERVING: {{totalProjects}} PROJECTS
        </div>
        <div class="dtc-ns tc pv2 br b--silver">
            OUR COMMUNITY: {{totalUsers}} DRINK ARTISTS
        </div>
        <div class="dtc-ns tc pv2 ">
            TOTAL MONEY RAISED: ${{totalMoneyRaised}}
        </div>
    </div>
    {{>carousel}}

</div>

<div class="container flex mt5">
    <div class="fl w-30 pa2">
        <h4>What is DRNX Canvas? </h4>
        <p class="tj">
            DRNX Canvas connects influencers in the bar community with backers of all types and sizes. Be noticed by brands of all types
            and sizes and let them know what you and your inspiration are all about.
        </p>
        <img id="drx-partner-gif" src="/assets/images/mezcal_margarita_drnxmyth.gif" id="pts-img">
    </div>

    <div class="fl w-30 pa2">
        <h4> Why Canvas? </h4>
        <p class="tj">
            Our goal is to help each the bar community fulfill original ideas into reality.
        </p>
        <img id="drx-partner-gif" src="/assets/images/mezcal_margarita_drnxmyth.gif" id="pts-img">
    </div>

    <div class="fl w-30 pa2">
        <h4>Canvas different? </h4>
        <p class="tj">
            We are your first backers! Always! Be featured on Instagram, Facebook and Twitter in one of our original videos, your success
            is our mission!
        </p>
        <img id="drx-partner-gif" src="/assets/images/mezcal_margarita_drnxmyth.gif" id="pts-img">
    </div>

    <div class="fl w-30 pa2">
        <h4>Help me fund a cocktail?</h4>
        <p class="tj">
            Want your award winning recipe to reach a greater audience? Enter, DRNXMYTH. We're a partnering up with the producers to
            help craft creative recipes.
        </p>
        <img id="drx-partner-gif" src="/assets/images/mezcal_margarita_drnxmyth.gif" id="pts-img">
    </div>
</div>

<div class="container flex">
    <p id="projects-title" class="mt2 mb0 sans-serif fw1 f">BROWSE PROJECTS</p>

    <div class="cointainer flex projects">

        <article class="cf pa2">
            <div class="fl w-50 w-40-ns ph2">
                {{#each projectObj}} {{> index-projects-thumbnails}} {{/each}}
            </div>
        </article>

    </div>
</div>
