<header class=" black-80 tc avenir">

    <nav class=" tc center navbar navbar-default navbar-fixed-top" id="myScrollspy">
        <div class="navbar-collapse collapse">
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l fl" href="">CANVAS</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#" id="nav-home">home</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/users">drink makers</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="/projects" id="nav-projects">projects</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#"  id="nav-about">about</a>
            <a class="f6 f7-l link bg-animate black-80 hover-bg-black dib  ph4-l" href="#">contact</a>

            {{> login-modal }}
        </div>
    </nav>

</header>

<div class="title-header">
    <h1 class="tc mb0 sans-serif fw1 f1" id="canvas-title">CANVAS</h1>
    <h2 class="tc mb3 f6 fw4 i ttu tracked">'MIXOLOGY, BOTTLED'</h2>
</div>

<div class="dt dt--fixed stats-header bt bb b--silver">
    <div class="dtc tc pv2 br b--silver">
        TOTAL PROJECTS: {{totalProjects}}
    </div>
    <div class="dtc tc pv2 br b--silver">
        TOTAL DRINK MAKERS: {{totalUsers}}
    </div>
    <div class="dtc tc pv2 ">
        TOTAL MONEY RAISED: ${{totalMoneyRaised}}
    </div>
</div>


<div class="jumbotron jumbotron-featured">
    <p id="featured-title" class="mt2 mb0 sans-serif fw1 f">FEATURED</p>
    <img src="/assets/images/birdy.jpg" class="center">
</div>


<div class="jumbotron pts">
    <div class="fl w-30 pa2">
        <img src="/assets/images/pour-twist-shake.jpeg" class="pts-img">
    </div>

    <div class="fl w-70 pa2 pts-info">
        <h3>What is DRNX Canvas? </h3>
        <p> 
            DRNX Canvas connects influencers with backers of all types and sizes helping bartenders and mixologist influencers achieve their dream of launching original products into this booming industry.
        </p>
        <p>
            Be noticed by brands of all types and sizes and let them know your talents and how your product adds value to their brand. With embassadorship pledges, brands of all sizes will be allowed to pitch in.  
        </p>
        <p>
            Our concept is backed by The Best Drink Ever, a content creator and disseminator of the best cocktail ideas in the world.  
        </p>
        <p>
            Want to launch a recipe of a lovable drink, perhaps for a party? Enter, DRNXMYTH.  We're a partnering up with the producers to help craft creative recipes, working with brands, bartenders and industry influencers. 
        </p>
        <p>
            We are a community of bartenders, and other enthusiasts canvasing new innovative ways to connect the drinking world.
        </p>
    </div>
</div>

{{!-- <div class="container">

    <p id="projects-title" class="mt2 mb0 sans-serif fw1 f">BROWSE PROJECTS</p>

    <div class="projects">

        <main class="cf pa2">

                        
		<div class="fl w-50 w-40-ns ph2">
            {{#each projectObj}}
                {{> index-projects-thumbnails}}
            {{/each}}

		</div>
        
		<div class="fl w-50 w-25-ns ph2">
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/adam-stern-031209_960-2.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw-080411-cargo_960.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw18-240112-cc_960.jpg"> </a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hw-residency-cargo_960.jpg"></a>

		</div>

		<div class="fl w-50 w-25-ns ph2">
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/zach-hurd-101218_960.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/zh170311.4.cargo_960.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/hwspringtour-cargo_960-1.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/cc-shanee_960.jpg"></a>
			<a href="" class="pv2 grow db no-underline black"><img class="db w-100" src="https://s3-us-west-2.amazonaws.com/prnt/ZachHurd-190111s_960.jpg"></a>

		</div>
	</main>

        

    </div>

</div> --}}
