<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DRNX CANVAS</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Foundation CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg=="
        crossorigin="anonymous">

    <!-- Tachyons CDNS -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>
{{>navbar}}

{{!-- <header class=" black-80 tc pv2 avenir">

    <nav class="bt bb tc mw9 center mt1">
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l fl" href="/">drnxmyth</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l" href="/">home</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-green dib  ph4-l" href="/users">users</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-blue dib  ph4-l" href="/projects" id="nav-projects">projects</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-pink dib  ph4-l" href="#">about</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-yellow dib  ph4-l" href="#">contact</a>

        {{> login-modal }}
    </nav>

</header> --}}

<div id="registration-container" class="container-fluid">
    <section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>
				
				<div id="username-form" class="form-group col-lg-12">
					<label>Username</label>
					<input type="" name="" class="form-control" id="username-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				
				<div id="password-form" class="form-group col-lg-12">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="password-input" value="">
					<small id="password-feedback" class=""></small>
				</div>
				
				<div id="repeat-password-form" class="form-group col-lg-12">
					<label>Repeat Password</label>
					<input type="password" name="" class="form-control" id="repeat-password-input" value="">
					<small id="repeat-password-feedback" class=""></small>
				</div>
								
				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">

				  <p id="email-feedback" class=""></p>
				  <small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>
				
				<div id="email-repeat-form" class="form-group col-lg-12">
					<label>Repeat Email Address</label>
					<input type="email" name="" class="form-control" id="repeat-email-input" value="">
					<small id="email-repeat-feedback" class=""></small>
				</div>			
				
				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Sigh up for our newsletter
				</div>

				<div class="col-sm-6">
					<input type="checkbox" class="checkbox" />Send notifications to this email
				</div>				
			
			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Terms and Conditions</h3>
				<p>
					By clicking on "Register" you agree to The Company's' Terms and Conditions
				</p>
				<p>
					While rare, prices are subject to change based on exchange rate fluctuations - 
					should such a fluctuation happen, we may request an additional payment. You have the option to request a full refund or to pay the new price. (Paragraph 13.5.8)
				</p>
				<p>
					Should there be an error in the description or pricing of a product, we will provide you with a full refund (Paragraph 13.5.6)
				</p>
				<p>
					Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph 13.5.6)
				</p>
				
				<button type="submit" class="btn btn-primary signup">Register</button>
			</div>
		</div>
	</section>
</div>