<header class=" black-80 tc pv2 avenir">

    <nav class=" tc  center ">
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l fl" href="/">CANVAS</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-lightest-blue dib  ph4-l" href="/">home</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-green dib  ph4-l" href="/users">users</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-blue dib  ph4-l" href="/projects" id="nav-projects">projects</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-pink dib  ph4-l" href="#">about</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-yellow dib  ph4-l" href="#">contact</a>
        <a class="f6 f7-l link bg-animate black-80 hover-bg-light-gray dib  ph4-l fr" href="#">log in</a>
    </nav>

</header>

<div class="container">

    <div class="tc user-header center">

        <img src="/assets/images/baran.jpg" class="br-100 pa1 ba b--black-10 h4 w4" alt="avatar">
        <h1 class="f5 f4-ns fw6 mid-gray">@BARANIMAL</h1>
        <h2 class="f6 gray fw2 ttu tracked">Los Angeles</h2>

    </div>
        
        <main class="w-100 cf helvetica dark-gray bg-white mw9 mt5 center">

            <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
                <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-6.jpg) center;"></div>
            </div>

            <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
                <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-1.jpg) center;"> </div>
            </div>

            <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
                <div class="cover pv5 pv6-m pv7-l" style="background:rgb(196, 255, 226) center;"> </div>
            </div>

            <div class="fl w-50 w-50 w-25-l pl2 pl0-l pr2-m pr4-l mb3 mb4-l">
                <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-4.jpg) center;"> </div>
            </div>

            <div class="fl w-100 w-50-l pr2-l pl2-ns mb4  ">
                    <div class="cover pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-3.jpg) center;"> </div>
            </div>

            <div class="cf">

                <div class="fl w-100 w-25-l pl3-l mb3 mb4-l">
                    <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-5.jpg) center;"> </div>
                </div>

                <div class="fl w-100 w-25-l pr3-l">
                    <p class="lh-copy measure f6 pt3 pt0-l mt0 mb3 mb4-l center" style="background: rgb(255, 254, 195);
                    height: 800px"></p>
                </div>
    
                <div class="fl w-100 w-75-l pv0 mv0">

                    <div class="fl w-100 mb2 mb4-l">
                        <div class="cover pv5 pv6-l" style="background:rgb(255, 212, 212) center;"> </div>
                    </div>

                    <div class="fl w-25 mb2 mb4-l">
                        <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-5.jpg) center;"> </div>
                    </div>

                    <div class="fl w-75 pl2 pl4-l mb2 mb4-l">
                        <div class="cover pv5 pv6-m pv7-l grow" style="background:black url(/assets/images/cocktail-ph-2.jpg) center;"> </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>